set editing-mode vi

# Type in a few chars of a command in history and use arrow (up/down) keys to
# cycle through all commands that start with the typed in chars
"\e[A": history-search-backward
"\e[B": history-search-forward

# Use ^w to delete work 
"\C-w": backward-delete-word

